apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: node-nodevfile-nodocker-rhtap-three-component-scenarios-5plg
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-mwpe-tenant/mc-three-scenarios/node-nodevfile-nodocker-rhtap-three-component-scenarios-5plg@sha256:a78ece03c7dcddeab3a71446c86127f6d4c49bbddd4019a840df7dda2e888247
        name: my-nodejs
        resources: {}
status: {}
